.page-main {

  section {
    margin: 25vh 0;
  }

  .main {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

    &-item {
      color: #333;
      text-decoration: none;
      padding: 25px 25px 20px;
      @include transition;

      &-text {
        font-size: 40px;
        @include transition;
      }

      &-sub {
        font-size: 16px;
        @include transition;
      }

      &:nth-of-type(1) {

        span {
          color: $green;
        }

        &:hover {
          background: #000;

          p {
            color: #fff;
          }
        }
      }
    }
  }
}