@import "../../../node_modules/sass-font-face/_font-face.scss";

$pn-t:   'Proxima Nova Thin';
$pn-l:   'Proxima Nova Light';
$pn-r:   'Proxima Nova Regular';
$pn-sb:  'Proxima Nova Semibold';
$pn-b:   'Proxima Nova Bold';
$pn-ti:  'Proxima Nova Thin Italic';
$pn-li:  'Proxima Nova Light Italic';
$pn-ri:  'Proxima Nova Regular Italic';
$pn-sbi: 'Proxima Nova Semibold Italic';
$pn-bi:  'Proxima Nova Bold Italic';

@include font-face($pn-t,   '../fonts/proxima-nova/', 'ProximaNovaT-Thin', 'ProximaNova-Thin');
@include font-face($pn-l,   '../fonts/proxima-nova/', 'ProximaNova-Light', 'ProximaNova-Light');
@include font-face($pn-r,   '../fonts/proxima-nova/', 'ProximaNova-Regular', 'ProximaNova-Regular');
@include font-face($pn-sb,  '../fonts/proxima-nova/', 'ProximaNova-Semibold', 'ProximaNova-Semibold');
@include font-face($pn-b,   '../fonts/proxima-nova/', 'ProximaNova-Bold', 'ProximaNova-Bold');
@include font-face($pn-ti,  '../fonts/proxima-nova/', 'ProximaNova-ThinIt', 'ProximaNova-ThinIt');
@include font-face($pn-li,  '../fonts/proxima-nova/', 'ProximaNova-LightIt', 'ProximaNova-LightIt');
@include font-face($pn-ri,  '../fonts/proxima-nova/', 'ProximaNova-RegularIt', 'ProximaNova-RegularIt');
@include font-face($pn-sbi, '../fonts/proxima-nova/', 'ProximaNova-SemiboldIt', 'ProximaNova-SemiboldIt');
@include font-face($pn-bi,  '../fonts/proxima-nova/', 'ProximaNova-BoldIt', 'ProximaNova-BoldIt');

$icon: 'Icon';
$icon-check: 					'\f046';
$icon-check_empty: 		'\f096';
$icon-circle_blank: 	'\f10c';
$icon-dot_circle_alt: '\f192';
$icon-bullet_empty:   '\f204';
$icon-bullet_check:   '\f205';
$icon-heart: 					'\f004';
$icon-closed: 				'\e900';
$icon-arrow-light: 		'\e901';
$icon-arrow-tiny: 		'\e902';
$icon-github: 				'\f09b';
$icon-safari: 				'\f267';
$icon-yandex: 				'\f18b';
$icon-chrome: 				'\f268';
$icon-firefox: 				'\f269';
$icon-opera: 					'\f26a';
$icon-ie: 						'\f282';
$icon-ok: 						'\e903';

@include font-face($icon, '../fonts/icon/', 'cssFormstyller', 'cssFormstyller');